<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6db3b2">  <td>20/02/27 11:31:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ScreenshotDemo.beforeClass()[pri:0, instance:session22.ScreenshotDemo@222114ba]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1049817027</td>   <td></td> </tr>
<tr bgcolor="6db3b2">  <td>20/02/27 11:31:06</td>   <td>4247</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ScreenshotDemo.seleniumSnapshotTest()[pri:0, instance:session22.ScreenshotDemo@222114ba]">seleniumSnapshotTest</td> 
  <td>main@1049817027</td>   <td></td> </tr>
<tr bgcolor="6db3b2">  <td>20/02/27 11:31:12</td>   <td>10188</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ScreenshotDemo.endOfTest()[pri:0, instance:session22.ScreenshotDemo@222114ba]">&lt;&lt;endOfTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1049817027</td>   <td></td> </tr>
</table>
