<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bf786e">  <td>20/02/27 15:29:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ScreenshotDemo.beforeClass()[pri:0, instance:session22.ScreenshotDemo@402bba4f]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@825249556</td>   <td></td> </tr>
<tr bgcolor="bf786e">  <td>20/02/27 15:29:40</td>   <td>7893</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ScreenshotDemo.seleniumSnapshotTest()[pri:0, instance:session22.ScreenshotDemo@402bba4f]">seleniumSnapshotTest</td> 
  <td>main@825249556</td>   <td></td> </tr>
<tr bgcolor="bf786e">  <td>20/02/27 15:29:51</td>   <td>19011</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ScreenshotDemo.endOfTest()[pri:0, instance:session22.ScreenshotDemo@402bba4f]">&lt;&lt;endOfTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@825249556</td>   <td></td> </tr>
</table>
