<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6f8775">  <td>20/02/25 11:11:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Activity20_1.confirmAlertTestCase()[pri:1, instance:session20TestNGReport.Activity20_1@60704c]">confirmAlertTestCase</td> 
  <td>main@1990160809</td>   <td></td> </tr>
<tr bgcolor="6f8775">  <td>20/02/25 11:11:49</td>   <td>129</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Activity20_1.promptAlertTestCase()[pri:2, instance:session20TestNGReport.Activity20_1@60704c]">promptAlertTestCase</td> 
  <td>main@1990160809</td>   <td></td> </tr>
<tr bgcolor="6f8775">  <td>20/02/25 11:11:43</td>   <td>-6502</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Activity20_1.setUp()[pri:0, instance:session20TestNGReport.Activity20_1@60704c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1990160809</td>   <td></td> </tr>
<tr bgcolor="6f8775">  <td>20/02/25 11:11:49</td>   <td>-108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Activity20_1.simpleAlertTestCase()[pri:0, instance:session20TestNGReport.Activity20_1@60704c]">simpleAlertTestCase</td> 
  <td>main@1990160809</td>   <td></td> </tr>
<tr bgcolor="6f8775">  <td>20/02/25 11:11:49</td>   <td>228</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Activity20_1.tearDown()[pri:0, instance:session20TestNGReport.Activity20_1@60704c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1990160809</td>   <td></td> </tr>
</table>
