<h2>Reporter output</h2><table><tr><td>Starting Test |</td></tr>
<tr><td>Page Title is: Javascript Alerts |</td></tr>
<tr><td>simpleAlertTestCase() started |</td></tr>
<tr><td>Simple Alert opened |</td></tr>
<tr><td>Switched focus to alert |</td></tr>
<tr><td>Alert text is: This is a JavaScript Alert! |</td></tr>
<tr><td>Alert closed</td></tr>
<tr><td>Test case ended |</td></tr>
<tr><td>confirmAlertTestCase() started |</td></tr>
<tr><td>Confirm Alert opened |</td></tr>
<tr><td>Switched focus to alert |</td></tr>
<tr><td>Alert text is: This is a JavaScript Confirmation! |</td></tr>
<tr><td>Alert closed |</td></tr>
<tr><td>Test case ended |</td></tr>
<tr><td>promptAlertTestCase() started |</td></tr>
<tr><td>Prompt Alert opened |</td></tr>
<tr><td>Switched focus to alert |</td></tr>
<tr><td>Alert text is: This is a JavaScript Prompt! |</td></tr>
<tr><td>Text entered in prompt alert |</td></tr>
<tr><td>Alert closed |</td></tr>
<tr><td>Test case ended |</td></tr>
<tr><td>Ending Test |</td></tr>
</table>